.small-icon {
  display: inline-block;
  height: 1.15rem;
  width: 1.15rem;
  bottom: 0.35rem;
  position: relative;
  margin-right: 15px;
}

.text-icon {
  display: inline-block;
  height: 1.15rem;
  width: 1.15rem;
  top:0.15rem;
  position: relative;
  margin-right: 5px;
}

.big-icon {
  display: inline-block;
  height: 2.15rem;
  width: 2.15rem;
  top: 0.15rem;
  position: relative;
  margin-right: 15px;
}
