.main-container {    
    @media (prefers-color-scheme: light) {
	background: $light-background-secondary;
    }
    
    @media (prefers-color-scheme: dark) {
	background: $dark-background-secondary;
    }

    @media (prefers-color-scheme: light) {
	border: 1px solid $light-border-color;
    }
    
    @media (prefers-color-scheme: dark) {
	border: 1px solid $dark-border-color;
    }
    
    display: block;
    justify-content: center;
    width: 90%;
    max-width: 1000px;
    margin: 40px;
    border-radius: 5px;
}

.main-container b {
    @media (prefers-color-scheme: light) {
	color: $light-color-variant;
    }
    
    @media (prefers-color-scheme: dark) {
	color: $dark-color-variant;
    }
}

.title h1 {
    @media (prefers-color-scheme: light) {
	color: $light-header;
    }
    
    @media (prefers-color-scheme: dark) {
	color: $dark-header;
    }
    
    font-weight: bold;
    font-size: 45px;
    text-align: center;
    margin: 0.67em 30px;
}

.main-container li {
    font-size: 14px !important;
}

.title hr {
    width: 80%;
}

.main-container h2, p, li {
    @media (prefers-color-scheme: light) {
	color: $light-paragraph;
    }
    
    @media (prefers-color-scheme: dark) {
	color: $dark-paragraph;
    }
}

.main-container li {
    margin-bottom: 10px;
}

.main-container h2 {
    @media (prefers-color-scheme: light) {
	color: $light-color;
    }
    
    @media (prefers-color-scheme: dark) {
	color: $dark-color;
    }
    text-align: left;
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 5px;
}

.main-container p, li {
    text-align: left;
    font-size: 14px;
}

.main-container a {
    text-align: left;
    font-weight: bold;
    font-style: italic;
    font-size: 14px;
}

.i-button {
    @media (prefers-color-scheme: light) {
	color: $light-paragraph;
	border: 1px solid $light-border-color;
    }
    
    @media (prefers-color-scheme: dark) {
	color: $dark-paragraph;
	border: 1px solid $dark-border-color;
    }

    text-decoration: none;
    display: flex;
    justify-content: center;
    width: 150px;
    
    padding: 7px 10px 7px 10px;
}

.i-button:hover {
    @media (prefers-color-scheme: light) {
	border: 1px solid $light-border-color;
	background-color: $light-background-secondary;
    }
    
    @media (prefers-color-scheme: dark) {
	border: 1px solid $dark-border-color;
	background-color: $dark-background-secondary;
    }
    
    opacity: 0.50;
    cursor: pointer;
}

.left {
    display: inline-block;
    float: left;
    margin-left: 30px;
    margin-bottom: 30px;
    width: 45%;
}

.right {
    display: inline-block;
    float: right;
    margin-right: 30px;
    margin-bottom: 30px;
    width: 45%;
}

.i-blog a {
    @media (prefers-color-scheme: light) {
	color: $light-color-hyperlink;
    }
    
    @media (prefers-color-scheme: dark) {
	color: $dark-color-hyperlink;
    }
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
}

.i-blog li {
    margin-bottom: 1px;
}

.i-blog a:hover {
    @media (prefers-color-scheme: light) {
	color: $light-color-variant;
    }
    
    @media (prefers-color-scheme: dark) {
	color: $dark-color-variant;
    }
    font-style: italic;
}

.i-big-icon {
    display: inline-block;
    height: 1.8rem;
    width: 1.8rem;
    position: relative;
    margin-right: 15px;
}

.i-small-icon {
    display: inline-block;
    height: 25px;
    width: 25px;
    top: 3px;
    position: relative;
    margin-right: 10px;
}

.i-logo {
    display: inline;
    height: 50px;
    width: 50px;
    top: 3px;
    position: relative;
    margin-right: 10px;
}

.i-main:after {
    content: "";
    clear: both;
    display: block;
}

.end-ring {
    text-align: center;
    margin: 0 20px 30px;
}

.end-ring a {
    text-decoration: none;
}

.end-ring img {
    width: 130px;
    height: 40px;
    margin-top: 10px;
    margin-right: 10px;
    display: inline-block;
}

.end-ring hr {
    width: 80%;
}

@media only screen and (max-width: 768px) {
    .left {
	width: 90%;
	margin-left: 20px;
	margin-bottom: 0;
	margin-right: 20px;
	display: inline-block;
    }
    .right {
	float: left;
	width: 90%;
	margin-left: 20px;
	margin-right: 20px;
	display: inline-block;
    }
}
