@charset "UTF-8";

/* Light theme color */
$light-header: #88c0d0;
$light-paragraph: #2e3440;
$light-background: #e5e9f0;
$light-background-secondary: #d8dee9;
$light-background-header: #d8dee9;
//$light-color: #a9a9b3;
$light-color: #2e3440;
$light-color-variant: #3b4352;
$light-color-secondary: #b3b3bd;
$light-border-color: #2e3440;
$light-table-color: #4e4e57;
$light-color-hyperlink: #b48ead;

/* Dark theme colors */
$dark-header: #88c0d0;
$dark-paragraph: #d8dee9;
$dark-background: #3b4252;
$dark-background-secondary: #434c5e;
$dark-background-header: #4c566a;
//$dark-color: #a9a9b3;
$dark-color: #eceff4;
$dark-color-variant: white;
$dark-color-secondary: #b3b3bd;
$dark-border-color: #88c0d0;
$dark-table-color: #88c0d0;
$dark-color-hyperlink: #b48ead;

$media-size-phone: "(max-width: 684px)";
$media-size-tablet: "(max-width: 900px)";

/* Variables for js, must be the same as these in @custom-media queries */
:root {
  --phoneWidth: (max-width: 684px);
  --tabletWidth: (max-width: 900px);
}

/* Content */
$max-width: 860px;
